.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(26, 230, 35) 1% , rgb(67, 188, 27) 80%);
background: -o-linear-gradient(left , rgb(26, 230, 35) 1% , rgb(67, 188, 27) 80%);
background: -ms-linear-gradient(left , rgb(26, 230, 35) 1% , rgb(67, 188, 27) 80%);
background: -moz-linear-gradient(left , rgb(26, 230, 35) 1% , rgb(67, 188, 27) 80%);
background: -webkit-linear-gradient(left , rgb(26, 230, 35) 1% , rgb(67, 188, 27) 80%);






}